:host {
  display:flex;
  align-items: center;
  justify-content: left;
  padding-left: 16px;
  padding-right: 16px;
  width: calc(100% - 16px);
  background-color: #fdfdfd;
  border-radius: 6px;
  }
  .mat-form-field {
  flex-grow: 1;
  }
